body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: rgba(0,0,0, 0.1);
}

nav {
  background-color: #213c70;
}

footer {
  background-color: #213c70;
}

.header-link {
  display: flex;
  vertical-align: central;
}

.header-link-text {
  padding-left: 0.5rem;
}

.page-footer {
  padding-top: 0px;
  background-color: #212121;
}

.page-footer .footer-copyright .container {
  width: 90%;
  max-width: 100%;
}

#model_name {
  padding-left: 0.5em;
}

.drop-container-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.drop-container-card {
  width: 462px;
  height: 212px;
  padding: 6px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.drop-container {
  width: 450px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: #db202f;
    padding: 8px 16px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
  }
}

.fileover {
  opacity: 0.5;
}

.files-list {
  margin-top: 1.5rem;

  .single-file {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      align-items: center;
      border: dashed 1px #979797;
      margin-bottom: 1rem;

    img.delete {
      margin-left: 0.5rem;
      cursor: pointer;
      align-self: flex-end;
    }


    display: flex;
    flex-grow: 1;

    .name {
      font-size: 14px;
      font-weight: 500;
      color: #353f4a;
      margin: 0;
    }

    .size {
      font-size: 12px;
      font-weight: 500;
      color: #a4a4a4;
      margin: 0;
      margin-bottom: 0.25rem;
    }

    .info {
      width: 100%
    }
  }
}

.error-card {
  margin:2em;
  color: white;
  background-color: #db202f;
}

.progress-container {
  padding-left: 2em;
  padding-right: 2em;
}


