<body class="mat-typography">

  <nav>
    <div class="nav-wrapper mat-elevation-z6">
      <a href="" class="brand-logo" id="model_name">CONTRABASS</a>
      <ul class="right">
        <li><a href="https://contrabass.readthedocs.io/en/latest/?badge=latest" class="header-link">
          <i class="fa fa-file-alt" style="color:white"></i><div class="header-link-text hide-on-med-and-down">Documentation</div>
        </a></li>
        <li><a href="https://github.com/openCONTRABASS/CONTRABASS" class="header-link">
          <i class="fab fa-github" style="color:white"></i><div class="header-link-text hide-on-med-and-down">Github</div>
        </a></li>
      </ul>
    </div>
  </nav>

  <main>


    <div class="drop-container-container">
      <mat-card class="drop-container-card mat-elevation-z6" >
          <div class="drop-container" (fileDropped)="onFileDropped($event)" appDragDrop>
            <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
            <img src="assets/img/ic-upload-file.svg" alt="">
            <h3>Drag and drop SBML model here</h3>
            <h3>or</h3>
            <label for="fileDropRef">Browse for model</label>
          </div>
      </mat-card>
    </div>


    <div *ngIf="loading_file">
      <div class="progress-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>

    <div *ngIf="error_reading_file">
      <mat-card class="error-card">
        <mat-card-content>
          Error reading file:
          {{ error_text }}
        </mat-card-content>
      </mat-card>
    </div>

    <app-list-element [models]="models"></app-list-element>

  </main>

  <!-- Define the footer -->
  <footer class="page-footer">
    <div class="footer-copyright darken-3">
      <div class="container ">
        © 2021 Alex Oarga <718123 at unizar.es>
        <a class="grey-text
            text-lighten-4 right" href="https://github.com/openCONTRABASS">
          CONTRABASS organization
        </a>
      </div>
    </div>
  </footer>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>
